{% include 'base.html'   %}

{% block title %}
    <title>Welcome to the Issues</title>
{% endblock title %}

{% block body %}
<h1>These are the current issues</h1>


{% for issue in issues %}

<!-- # if this starts acting weird, remember that sqlite stores bools as 0 and 1. 
# Postgres stores as true/false -->

{% if issue.archived == '0' or issue.archived =='false' %} 
  
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{issue.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Author: {{issue.username}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">{{issue.date}}</h6>
    <p class="card-text">{{issue.text}}</p>
    <h6 class="card-title">Comments</h5>
      <p class="card-text">{{issue.comment_text}}</p>
    <a href="/users/{{g.user.username}}/issues/{{issue.id}}/add_comment" class="btn btn-info mb-2">Add comment</a>
    {% if g.user.username == issue.username %}
    <a href="#" class="btn btn-primary mb-2">Edit Issue</a>
    <a href="/users/{{g.user.username}}/issues/{{issue.id}}/delete" class="btn btn-danger mb-2">Delete Issue</a>
    <form action="/users/{{g.user.username}}/issues/{{issue.id}}/add_to_archive">
      <button class="btn btn-info mb-2">Archive Issue</button>
    </form>
    
      {% else %}
      <!-- <a href="/users/{{g.user.username}}/issues/{{issue.id}}/comment" class="btn btn-info mb-2">Add comment</a> -->
      
      {% endif %}
      
    </div>
  </div>
  {% endif %}
{% endfor %}
{% endblock body %}