{% include 'base.html'   %}

{% block title %}
    <title>Welcome to the Tests</title>
{% endblock title %}

{% block body %}
    <h1>These are the current tests</h1>
    {% if session['username'] == 'test' %}
      <p>Welcome, visitor! Tests may be edited, deleted, or added to the archive by anyone on the team. As an honorary team member, try it out for yourself!</p>
    {% endif %}

    {% for test in tests %}
          {% if test.archived == '0' %}
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{test.test_name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{test.location}}</h6>
                  <h6 class="card-subtitle mb-2 text-muted">{{test.duration}} hours</h6>
                  <h6 class="card-subtitle mb-2 text-muted">Start date: {{test.start}}</h6>
                  <h6 class="card-subtitle mb-2 text-muted">End date: {{test.endday}} {{test.end}}</h6>
                  <p class="card-text">{{test.lot_num}}</p>
                  <a href="#" class="btn btn-primary">Edit Test</a>
                  <a href="/users/{{session['username']}}/tests/{{test.id}}/delete" class="btn btn-danger">Delete Test</a>
                  <form action="/users/{{session['username']}}/tests/{{test.id}}/add_to_archive">
                    <button class="btn btn-info mb-2 mt-1">Archive test</button>
                  </form>
                  
                </div>
              </div>
          {% endif %}
      {% endfor %}

{% endblock body %}