{% include 'base.html'   %}

{% block title %}
    <title>Welcome to the Issues</title>
{% endblock title %}

{% block body %}
<h1>Hello these are the current issues</h1>


{% for issue in issues %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{issue.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Author: {{issue.username}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{issue.date}}</h6>
      <p class="card-text">{{issue.text}}</p>
      {% if session['username'] == issue.username %}
      <a href="#" class="btn btn-primary mb-2">Edit Issue</a>
      <a href="/users/{{session['username']}}/issues/{{issue.id}}/delete" class="btn btn-danger mb-2">Delete Issue</a>
      <a href="/users/{{session['username']}}/issues/{{issue.id}}/comment" class="btn btn-info mb-2">Add comment</a>
      
      {% else %}
      <a href="/users/{{session['username']}}/issues/{{issue.id}}/comment" class="btn btn-info mb-2">Add comment</a>
      
      {% endif %}
      <input type="checkbox" checked data-toggle="toggle" data-style="mt-1" data-on="Issue<br>Unsolved!" data-off="Issue<br>Solved!" data-onstyle="danger" data-offstyle="success">
    </div>
  </div>
{% endfor %}
{% endblock body %}